@model dynamic

@{

}

<div class="row center-block">
    <div class="col-md-3">
        <button style="margin-bottom: 30px">
            @Html.ActionLink("Cintas", "Index", "Cinta")
        </button>
    </div>
    <div class="col-md-3">
        <button style="margin-bottom: 30px">
            @Html.ActionLink("Brazos", "Index", "Brazo")
        </button>
    </div>
    <div class="col-md-3">
        <button style="margin-bottom: 30px">
            @Html.ActionLink("Prensas", "Index", "Prensa")
        </button>
    </div>
</div>
<div class="row center-block">
    <div class="col-md-3">
        <button style="margin-bottom: 30px">
            @Html.ActionLink("Pila de Bultos", "Index", "PilaDeBultos")
        </button>
    </div>
    <div class="col-md-3">
        <button style="margin-bottom: 30px">
            @Html.ActionLink("Sensor Pasivo", "Index", "SensorPasivo")
        </button>
    </div>

    <div class="col-md-3">
        <button style="margin-bottom: 30px">
            @Html.ActionLink("Sensor Activo", "Index", "SensorActivo")
        </button>
    </div>

</div>